/* add CSS class and element and selectors here */
/*notes */
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Gaegu');

body {
      background-color: light-blue;
    }
    
#title-section {font-size:100%;}


.info-section {font-family: Gaegu;}

    .myClass {
      background-color: gray;
      color: blue;
      font-family: Shrikhand;}
  